<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books & Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .main {
        padding: 2.5%;
    }
</style>
<body>
    <div class="jumbotron-fluid main">
        <h1>{{book.title}}</h1>
        <h3>ID: {{book.id}}</h3>
        <h3>Description: {{book.desc}}</h3>
        <h3>Authors: </h3>
        <ul>
            {% for author in book.author_id.all %}
            <li>{{author.first_name}} {{author.last_name}}</li>
            {% endfor %}
        </ul>
        <form action="/linkAuth/{{book.id}}" method="POST">
            {% csrf_token %}
            <select name="author">
                {% for a in authors%}
                {% if a not in book.author_id.all %}
                    <option value="{{a.id}}">{{a.first_name}} {{a.last_name}}</option>
                {%endif%}
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>